[Unit]
Description=Simple systemd demo
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=harry
ExecStart=/home/harry/listen

[Install]
WantedBy=multi-user.target
Alias=myfirstdaemon.service

